.App {
  text-align: center;
}

p {
  padding: 0px;
  margin: 0px;
}

.fighterBox {
  border: 1px solid black;
  
}

  .BattlePage {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
  }